.iphone-16---1_26-31 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  background: #eaeaea;
  width: 393px;
  height: 852px;
}
.bkg_26-77 {
  top: -170px;
  left: -273px;
  position: absolute;
  display: flex;
  width: 904px;
  height: 829px;
}
.ellipse-2_26-34 {
  display: flex;
}

.ellipse-1_26-32 {
  display: flex;
}

.ellipse-3_26-33 {
  display: flex;
}

.ellipse-4_26-35 {
  display: flex;
}

.text-title_26-36 {
  top: 219px;
  left: 73px;
  position: absolute;
  display: flex;
  color: #9dc183;
  font-size: 48px;
  font-family: Lemon;
  letter-spacing: 0;
  text-decoration: none;
  font-weight: 400;
  text-align: center;
  text-wrap: nowrap;
  width: 247px;
  height: 126px;
}

.start-button_26-37 {
  top: 659px;
  left: 89px;
  position: absolute;
  display: flex;
  width: 213px;
  height: 76px;
}
.rectangle-1_26-38 {
  display: flex;
}

.ellipse-5_26-39 {
  display: flex;
}

.text-start_26-40 {
  color: #9dc183;
  font-size: 40px;
  font-family: Lemon;
  letter-spacing: 0;
  text-decoration: none;
  font-weight: 400;
  text-align: center;
  width: 137px;
  height: 60px;
}

.camera_26-41 {
  position: relative;
  width: 43px;
  height: 45px;
}

.text-slogan_26-42 {
  top: 345px;
  left: 107px;
  position: absolute;
  display: flex;
  color: #525e49;
  font-size: 20px;
  font-family: Lemon;
  letter-spacing: 0;
  text-decoration: none;
  font-weight: 400;
  text-align: center;
  text-wrap: nowrap;
  width: 178px;
  height: 26px;
}
