<div class="iphone-16---1_26-31">
  <div class="bkg_26-77">
    <div class="ellipse-2_26-34">
      <svg
        width="162"
        height="369"
        viewBox="0 0 162 369"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <ellipse cx="-49.5" cy="184.5" rx="211.5" ry="184.5" fill="#CBB7AA" />
      </svg>
    </div>
    <div class="ellipse-1_26-32">
      <svg
        width="208"
        height="210"
        viewBox="0 0 208 210"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <ellipse cx="223" cy="20" rx="223" ry="190" fill="#CBB7AA" />
      </svg>
    </div>
    <div class="ellipse-3_26-33">
      <svg
        width="216"
        height="219"
        viewBox="0 0 216 219"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M452.5 24.5C452.5 130.882 351.766 217.5 227 217.5C102.234 217.5 1.5 130.882 1.5 24.5C1.5 -81.8819 102.234 -168.5 227 -168.5C351.766 -168.5 452.5 -81.8819 452.5 24.5Z"
          stroke="white"
          stroke-width="3"
        />
      </svg>
    </div>
    <div class="ellipse-4_26-35">
      <svg
        width="173"
        height="385"
        viewBox="0 0 173 385"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M171.5 192.5C171.5 297.787 72.5457 383.5 -50 383.5C-172.546 383.5 -271.5 297.787 -271.5 192.5C-271.5 87.2131 -172.546 1.5 -50 1.5C72.5457 1.5 171.5 87.2131 171.5 192.5Z"
          stroke="white"
          stroke-width="3"
        />
      </svg>
    </div>
  </div>
  <span style="white-space: pre-line" class="text-title_26-36">Compost Buddy</span>
  <div class="start-button_26-37">
    <div class="rectangle-1_26-38">
      <img
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAQSURBVHgBAQUA+v8AAAAAAAAFAAFkeJU4AAAAAElFTkSuQmCC"
      />
    </div>
    <div class="ellipse-5_26-39">
      <img
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAQSURBVHgBAQUA+v8AAAAAAAAFAAFkeJU4AAAAAElFTkSuQmCC"
      />
    </div>
    <span class="text-start_26-40">start</span>
    <app-camera [size]="'48'" class="camera_26-41"></app-camera>
  </div>
  <span class="text-slogan_26-42">Save the Earth!</span>
</div>
