.iphone-16---1_26-167 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  background: #eaeaea;
  width: 393px;
  height: 852px;
}
.bkg_26-169 {
  top: -170px;
  left: -273px;
  position: absolute;
  display: flex;
  width: 904px;
  height: 829px;
}
.ellipse-2_26-170 {
  display: flex;
}

.ellipse-1_26-171 {
  display: flex;
}

.ellipse-3_26-172 {
  display: flex;
}

.ellipse-4_26-173 {
  display: flex;
}

.img-frame_26-194 {
  top: 75px;
  left: 27px;
  position: absolute;
  display: flex;
  height: 535px;
  width: 337px;
}

.img-photo {
  object-fit: cover;
}

.img-placeholder_26-195 {
  top: 96px;
  left: 46px;
  position: absolute;
  display: flex;
  display: flex;
}

.text-item-title-placeholder_26-197 {
  top: 510px;
  left: 46px;
  position: absolute;
  display: flex;
  color: #000000;
  font-size: 30px;
  font-family: Lemon;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: center;
  width: 299px;
  height: 100px;
}

.text-result_26-199 {
  top: 651px;
  left: 120px;
  position: absolute;
  display: flex;
  color: #000000;
  font-size: 20px;
  font-family: Lemon;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: center;
  width: 331px;
  height: 30px;
}

.info_26-213 {
  top: 650px;
  left: 300px;
  position: absolute;
  display: flex;
  width: 30px;
  height: 30px;
}

.start-button_2004-16 {
  top: 743px;
  left: 92px;
  position: absolute;
  display: flex;
  width: 213px;
  height: 76px;
  box-shadow: 0px 4px 4px 0px #0000003f;
  background: transparent;
  border: none !important;
  font-size:0;
}
.rectangle-1_2004-17 {
  display: flex;
}

.ellipse-5_2004-18 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
}

.text-try-another-_2004-19 {
  color: #9dc183;
  font-size: 25px;
  font-family: Lemon;
  position:absolute;
  letter-spacing: 0;
  left: 35px;
  text-decoration: none;
  font-weight: 400;
  text-align: center;
  width: 137px;
  height: 60px;
}

.text-compostable {
  top: 679px;
  left: 31px;
  position: absolute;
  display: flex;
  color: #9dc183;
  font-size: 42px;
  font-family: Lemon;
  letter-spacing: 0;
  text-decoration: none;
  font-weight: 400;
  text-align: center;
  text-wrap: nowrap;
  width: 331px;
  height: 55px;
}

.text-noncompostable {
  top: 679px;
  left: 31px;
  position: absolute;
  display: flex;
  color: #7f3c3c;
  font-size: 35px;
  font-family: Lemon;
  letter-spacing: 0;
  text-decoration: none;
  font-weight: 400;
  text-align: center;
  text-wrap: nowrap;
  width: 331px;
  height: 55px;
}

.toHome {
  background: transparent;
  border: none !important;
  font-size:0;
}
