.initial-state_1-2 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  background: #ffffff;
  width: 393px;
  height: 852px;
}
.camera-video_8-2 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
}

.camera-button_78-311 {
  top: 752px;
  left: 162px;
  position: absolute;
  display: flex;
  width: 69px;
  height: 67px;
}
.ellipse-1_8-3 {
  display: flex;
}

.camera_78-308 {
  position: relative;
  width: 48px;
  height: 48px;
}

.flash_8-4 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
}

.actionBtn {
  background: transparent;
  border: none !important;
  font-size:0;
}
